@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./header.css");
@import url("./banner.css");
@import url("./explore.css");
@import url("./memory.css");
@import url("./footer.css");

:root {
    --text: #212121;
    --gray: #3a3a3a;
    --primary: #493D9E; 
    --secondary: #FBA518;
    --active: #939100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

main {
    min-width: 1400px;
    max-width: 1500px;
    margin: 0 auto;
}

.go-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.go-top a {
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
}

.go-top a:hover {
    background-color: var(--primary);
}

.go-top a:hover svg {
    stroke: #fff;
}

#scroll-top {
    height: 60px;
}